<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Говори красиво - Кабинет логопеда</title>
	
	<link rel = "stylesheet"
	type = "text/css"
	href = "{{ url_for('static', filename='css/cabinet-body.css') }}" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<script type="text/javascript" src="{{ url_for('static', filename='js/cabinet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='config.json') }}"></script>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>

<body>
<div class="container">
  <div class="row">
    <div class="col">
      <form id="form">  
<div>Ученик: 
<select id="client" name="client">
{% for c in clients %}
<option value="{{ c[1] }}">{{ c[0] }}</option>
{% endfor %}
</select>
</div><br/>



<div>📁 Буква Л</div>
<div>Регулярность занятий: <a href="">98%</a></div>
        <div id="week_number">Неделя: 5 </div>
        <div>Выполнить до: 15 Января 2021</div>


<br/><br/>
<div class="vblock" >

<div class="h1">Блок 1</div>
<div class="h2">Текст</div>
<textarea id="module1_text" name="module1_text" cols="40" rows="5" placeholder="Введите текст перед видео"></textarea>
<br/><br/>

<div class="h2">Видео</div>
  <div>Раздел 📁 Буква Л</div>
  <select id="module1_video" name="module1_video">
  <option disabled>Видео 1</option>
  {% for v in video %}
  <option value="{{ v[4] }}">{{ v[4] }}</option>
  {% endfor %}
</select>
<br/>
<br/>
<input type="checkbox" name="module1_rec" id="module1_rec" value="yes">Запросить запись <br/><br/>
<div class="h2">Текст кнопки Далее</div>
<input id="module1_uaction" name="module1_uaction" cols="40" rows="5" placeholder="Введите текст на кнопке Далее"></textarea>

<br/>
<br/>
</div>


<div class="vblock" >

<div class="h1">Блок 2</div>
<div class="h2">Текст</div>
<textarea id="module2_text" name="module2_text" cols="40" rows="5" placeholder="Введите текст перед видео"></textarea>
<br/><br/>

<div class="h2">Видео</div>
  <div>Раздел 📁 Буква Л</div>
  <select id="module2_video" name="module2_video">
  <option disabled>Видео 2</option>
  {% for v in video %}
  <option value="{{ v[4] }}">{{ v[4] }}</option>
  {% endfor %}
</select>
<br/>
<br/>
<div class="h2">Текст кнопки Далее</div>
<input id="module2_uaction" name="module2_uaction" cols="40" rows="5" placeholder="Введите текст на кнопке Далее"></textarea>

<br/>
<br/>
</div>

<div class="vblock" >
<p>Блок 3</p>
<div class="h1">Текст</div>
<textarea id="module3_text" name="module3_text" cols="40" rows="5" placeholder="Введите текст перед видео"></textarea>
<br/><br/>

<div class="h1">Видео</div>
  <div>Раздел 📁 Буква Л</div>
  <select id="module3_video" name="module3_video">
  <option disabled>Видео 3</option>
  {% for v in video %}
  <option value="{{ v[4] }}">{{ v[4] }}</option>
  {% endfor %}
</select>
<br/>
<br/>

<div class="h1">Текст кнопки Далее</div>
<input id="module3_uaction" name="module3_uaction " cols="40" rows="5" placeholder="Введите текст на кнопке Далее"></textarea>

<br/>
<br/>
</div>


</form>
<button id="savebutton" onclick="save_config();">Сохранить урок</button>
    </div>
    <div class="col">
    <div class="bib">
      <button id="libload" onclick="load_lib();">Загрузить библиотеку для Р (Google Docs)</button>
  <div id="libtext_div">[...]</div>
  
</div>
    </div>
  </div>
</div>



</body>

</html>